<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fotron.draw.mapper.TaskLogMapper">
    <resultMap id="BaseResultMap" type="com.fotron.draw.entity.TaskLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectTaskLog" resultMap="BaseResultMap">
        select * from dw_task_log where user_id=#{userId} and task_id=#{taskId} order by create_time desc limit 1
    </select>

</mapper>